@page
@model Rex_Azure_App.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "DeploymentSlotsPage";
}

<div class="text-center">
    <h1 class="display-4">Testing Deployment Slots</h1>
    <h3>
        Testing the deployment slots feature
    </h3>
</div>
