@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Azure App Services - GitHub Actions In Effect For Staging Slot</h1>
    <h3>
        Hey , I am rex learning about the platforms for cloud
    </h3>
</div>
